html, body {
    width: 99%;
    height: 99%;
}

body {
    overflow: hidden;
}

.game-canvas, #win-msg, #loss-msg {
    display: none;
}

#win-msg, #loss-msg {
    font-weight: bold;
    font-size: x-large;
}

#win-msg {
    color: darkgreen;
}

#loss-msg {
    color: darkred;
}
